useDynLib(netbenchmark, .registration=TRUE)
exportPattern("^[^\\.]")
importFrom(Rcpp, evalCpp)
importFrom(pracma, trapz)
importFrom(fdrtool,fdrtool)
importFrom(corpcor,sm2vec)
import(grndata)
import(minet, c3net, GeneNet, tools, Matrix, GENIE3)
